.backButton {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;

    a {
        color: #eee;
    }
}

.playerList {
    .panel {
        float: left;

        .left {
            width: 81px;
            float: left;
            padding: 10px 10px 0px 10px;

            .color {
                float: left;
                height: 70px;
                width: 8px;
                -webkit-border-radius: 5px 0px 0px 5px;
                -moz-border-radius: 5px 0px 0px 5px;
                border-radius: 5px 0px 0px 5px;
            }

            .image {
                float: left;
                width: 70px;

                img {
                    width: 70px;
                    height: 70px;
                    -webkit-border-radius: 0px 5px 5px 0px;
                    -moz-border-radius: 0px 5px 5px 0px;
                    border-radius: 0px 5px 5px 0px;
                }
            }

            .stats {
                text-align: center;
                font-size: 11px;
                margin: 0px;
                padding: 0px;
            }
        }

        .center {
            float: left;
            width: 198px;
            border-left: 1px solid #E8E8E8;
            //border-right: 1px solid #E8E8E8;
            min-height: 106px;

            .info {
                .name {
                    border-bottom: 1px solid #E8E8E8;
                    padding: 5px 10px 5px 10px;
                    font-weight: bold;
                    font-size: 17px;
                    min-height: 40px;
                }

                .stars {
                    padding: 10px;

                    img {
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}
